/*custom style css*/
.alert-dismissable .close, .alert-dismissible .close{
    right: 0;
}
.select2-container--default .select2-selection--multiple{
    background-color: #f3f2ee;
    padding: 3px 5px;
}
select.input-sm{
    height: 34px;
    padding-right: 4px;
}
.excelIcon{
    margin-right: 1em;
    margin-top: 0.3em;
    font-size: 22px;
}
.modal-backdrop{
    background: #000;
}
.modal-backdrop.in{
    opacity: 0.8;
}

.login .main-panel{
    width: 100%;
    background: #fff;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    /*border: none;*/
}

.home .card .content{
    padding: 3em 2.2em;
}
.details .card{
    padding: 2em;
}

.mb40{
    margin-bottom: 40px;
}

/*start rating*/
div.stars {
    min-width: 185px;
    display: inline-block;
}
 
input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 18px;
    color: #444;
    transition: all .2s;
    cursor: pointer;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}


input.star-5-q:checked ~ label.star:before,
input.star-5-rqp:checked ~ label.star:before,
input.star-5-dl:checked ~ label.star:before,
input.star-5-c:checked ~ label.star:before,
input.star-5-ep:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1-q:checked ~ label.star:before,
input.star-1-rqp:checked ~ label.star:before,
input.star-1-dl:checked ~ label.star:before,
input.star-1-c:checked ~ label.star:before,
input.star-1-ep:checked ~ label.star:before {
     color: #F62; 
}

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
.rating{
    margin-top: 1em;    
}

/*end rating*/
/*style checkbox*/
.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-wrap:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrap input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrap .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/******  Start Rating with posibilite half selection *****/

.rating-note { 
    border: none;
    float: left;
    min-height: 200px;
}

.rating-note > input { display: none; } 
.rating-note > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating-note > .half:before { 
    content: "\f089";
    position: absolute;
}

.rating-note > label { 
    color: #ddd; 
    float: right; 
}

.rating-note > input:checked ~ label, /* show gold star when clicked */
.rating-note:not(:checked) > label:hover, /* hover current star */
.rating-note:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating-note > input:checked + label:hover, /* hover current star when changing rating */
.rating-note > input:checked ~ label:hover,
.rating-note > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating-note > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.rating-note > label:before{
    font-size: 4.5em;
}

/******  end Rating with posibilite half selection *****/

#budgets-wrap .has-feedback .form-control{
    padding-right: 0 !important;
}

.nav > li > a:hover, .nav > li > a:focus{
    background-color: #f55e244a;
}

.sessionsFilter{
    margin-bottom: 1em;
}
.table > tbody > tr > td{
    padding: 5px 8px;
}
.budgetsTable > tbody > tr > td, .budgetsTable > tfoot > tr > td{
    padding: 2px 11px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #f4f3ef;
    color: #286090;
}

.error{
    color: #e85a1b;
}

.hommeBarchart .chart-js-container{
    max-width: 100% !important;
    padding-left: 0px;

}

.filter-label{
    margin-top: 0.5em;
}

.no-border-bottom td:first-child{
    border-top: none !important;
}

.filterCard{
    z-index: 9999;
}
.filterContent{
    display: none;
    margin-top: 2em;
}
.filterActions{
    margin-top: 1.5em;
}

.modal-dialog{
    padding-top: 0;
}
select.session {
     -moz-user-select: none;
     -ms-user-select: none;
      user-select: none;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
    cursor: not-allowed; 
    opacity: 0.5
}
.addBtn{
    width: 53px;
    height: 53px;
    line-height: 53px;
    border-radius: 50%;
    padding: 0;
    box-shadow: -1px 3px 11px 1px #50403d;
}

@media (max-width: 1400px) {
    table.dataTable .btn.btn-icon{
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 26px;
    }
    table.dataTable thead > tr > th.sorting{
        padding-right: 0;
    }
    .table > thead > tr > th {
        font-size: 1em;
        font-weight: 600;
    }

    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav{
        width: 250px;
    }


}